@import url('https://fonts.google.com/specimen/Dela+Gothic+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 400px;
    color: #ffffff;
}

.fatheritem {
    padding: 50px auto;
    margin: 50px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textbox {
    color: #ffffff;

}

.textbox h4 {
    font-size: 20px;
}

.textbox h4 a {
    background-color: #ffffff;
    color: #ec992c;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 6px;
    padding: 0 20px;
    border: 0.7px solid#000000;
}

.textbox h4 a:hover {
    font-size: 20px;
    color: #ffffff;
    background-color: #ec992c;
    border: 0.7px solid#000000;
}

.textbox h2 {
    font-size: 35px;
    padding-right: 350px;
    margin: 10px;
}

.textbox h3 {
    font-size: 20px;
}

.textbox h5 {
    font-size: 20px;
}

img {
    max-width: 250px;
    clip-path: circle();
    margin-left: 50px;
    margin-right: 30px;
    padding: 1px;

}

.item3 {

    margin: 100px;

}

.item2 h2 {
    font-size: 30px;
    color: #ffffff;

}

.item2 h5 {
    font-size: 20px;
    color: #ffffff;
}

.item2 p {
    font-size: 15ßpx;
    color: #ffffff;
}

.item3 h2 {
    font-size: 30px;
    color: #ffffff;

}

.item3 h5 {
    font-size: 20px;
    color: #ffffff;
}

.item3 p {
    font-size: 15ßpx;
    color: #ffffff;
}
form {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#contact {
    font-size: 23px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

#contact h2 {
    font-size: 35px;
    color: #ffffff;
    margin: 3%;
}

.input-grp {
    margin-bottom: 30px;
    position: relative;
}

textarea,
input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
   
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    top: -35px;
    font-size: 14px;
}
